<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blush", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Foundation", "Category", "Home", new { category = "Foundation" }, null)</li>
                            <li>@Html.ActionLink("Blush, Highlight and Contour", "Category", "Home", new { category = "Cheeks" }, null)</li>
                            <li>@Html.ActionLink("Eye Makeup", "Category", "Home", new { category = "Eyes" }, null)</li>
                            <li>@Html.ActionLink("Lips", "Category", "Home", new { category = "Lips" }, null)</li>
                        </ul>
                    </li>
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Customer Info", "ViewCustomers", "Home")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (this.Context.User.Identity.IsAuthenticated)
                    {
                        HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
                        FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
                        <li><a class="a-custom">Hi @ticket.Name!</a></li>
                        <li>@Html.ActionLink("Update Your Info", "UpdateInfo", "Home")</li>
                        if (HttpContext.Current.User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Cart", "ViewCart", "Home")</li>
                        }
                        <li>@Html.ActionLink("Logout", "Logout", "Security")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Security")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="content">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tiffany de Vos 213348292</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>
