@model BucketList.Models.Invites

@{
    ViewBag.Title = "GetNotifications";
}

@if (Model != null)
{
    foreach (var item in Model.invites)
    {
        if (item.inviteType.Equals("challenge"))
        {
            <li>@Html.ActionLink(item.firstName + " " + item.surname + " invited you to join a challenge", "ViewChallengeInvite", "Friend", new { userID = Model.userID, challengeInviteID = item.inviteID }, null)</li>
        }
        if (item.inviteType.Equals("friend"))
        {
            <li>
                @item.firstName @item.surname sent you a friend request
                <button class="btn btn-default" onclick="accept(@Model.userID, @item.friendID)">Accept</button>
                <button class="btn btn-default" onclick="decline(@Model.userID, @item.friendID)">Decline</button>
            </li>
        }
    }
}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
    function accept(userID, friendID) {
            $.ajax({
                url: '@Url.Action("AcceptFriendRequest", "Friend")',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({
                    friendID: friendID,
                    userID: userID
                    }),
                success: function (valid) {
                    }
            });
    }
        function decline(userID, friendID) {
            $.ajax({
                url: '@Url.Action("RejectFriendRequest", "Friend")',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({
                    friendID: friendID,
                    userID: userID
                    }),
                success: function (valid) {
                    }
            });
    }
</script>