@model BucketList.Models.Invite

@{
    ViewBag.Title = "ViewChallengeInvite";
}

<h2>@Model.firstName @Model.surname invited you to join a challenge</h2>
<div class="col-md-2">

</div>
<div class="col-md-4">
    <h3>@Model.challenge.title</h3>
    <p>Description: @Model.challenge.description</p>
    <p>Rating: Need to add rating average here</p>
    <p>Points: @Model.challenge.points</p>
    <p>Difficulty: @Model.challenge.difficulty</p>
</div>
<div class="col-md-2">
    <p></p>
    @Html.ActionLink("Accept", "AcceptChallengeInvite", "Friend", new { userID = Model.userID, challengeInviteID = Model.inviteID }, new { @class = "btn btn-default" })
    <p></p>
    @Html.ActionLink("Decline", "RejectChallengeInvite", "Friend", new { userID = Model.userID, challengeInvite = Model.inviteID }, new { @class = "btn btn-default" })
</div>
<div class="col-md-6"><p></p></div>
