@model BucketList.Models.UserFriend

@{
    ViewBag.Title = "ViewFriendProfile";
}

<div class="text-center">
    <h2>@Model.firstName @Model.surname</h2>

    <h3>@Model.points</h3>

    <h3>Achievements</h3>
    @foreach(String item in Model.achievements)
    {
        <h4>@item</h4>
    }

    @Html.ActionLink("Remove Friend", "RemoveFriend", "Friend", new { userID = 2, friendID = 1 }, new { @class = "btn btn-default" })

</div>

